<div class="form-inline">
    <button title="Back" (click)="navBack()" [disabled]="!visitedList.length>0"><i class="fa fa-arrow-circle-left fa-lg" aria-hidden="true"></i></button>
    <button title="Forward" (click)="navForward()" [disabled]="!revisit.length>0"><i class="fa fa-arrow-circle-right fa-lg" aria-hidden="true"></i></button>
    <button title="Up" (click)="navBack()" [disabled]="!visitedList.length>0"><i class="fa fa-arrow-circle-up fa-lg" aria-hidden="true"></i></button>
    <input class="form-control" style="width:90%;" type="text" [(ngModel)]="dirPath"/> 
  </div >