<div class="nav-area">
    <ul style="list-style-type: none;">
    <li><i class="fa fa-folder-open-o" aria-hidden="true"></i> root
        <ul style="list-style-type: none;">
            <ng-template #recursiveList let-folderList>
                <li *ngFor="let item of folderList; index as i">
                    <span><i class="fa fa-folder-open-o" aria-hidden="true"></i> {{item.name}}</span>
                <ul style="list-style-type: none;" *ngIf="item.children">
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
                </ul>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: folderList.children }"></ng-container>
        </ul>
    </li>
    </ul>
</div>
